export AWS_ACCESS_KEY_ID=AKIATKRGTNLMK37NP7HJ
export AWS_SECRET_ACCESS_KEY=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
export KHIPU_ID=154598
export KHIPU_SECRET=504d9481a78e0b7de2387226f1eae728c2dfcf44
